* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 180px;
    background-color: rgb(8, 0, 83);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 100px;
}
.middle {
    width: 100%;
    height: 350px;
    margin-top: 5px;
    background-color: rgba(128, 52, 52, 0.48);
}
.bottom {
    width: 100%;
    height: 100px;
    background-color: rgba(173, 33, 33, 0.48);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.iniciar {
    background-color: #007BFF;
    color: white;
}

.iniciar:hover {
    background-color: #0056b3;
}

.registrar {
    background-color: #28a745;
    color: white;
}

.registrar:hover {
    background-color: #1e7e34;
}